

// .card-content > a{
//   width: 100%;
//   display: block;
//   text-align: center;
// }

*:disabled{
  opacity: 0.7;
}

.step-group{
  overflow-x: hidden;
  margin-bottom: 15px;
}

.steps-content{
  display: flex;
  width: 400%;
  height: 220px;
  overflow-y: hidden;
}

.step{
  transition: .2s;
  width: 25%;
  overflow-y: scroll;
  padding: 0px 5px 0px 0px;
  //background: rgb(240,240,240);
}

.step::-webkit-scrollbar{
  width: 5px;
}

.step::-webkit-scrollbar-track{
  background-color: #dcdcdc;
  border-radius: 0px 20px 20px 0px;
}

.step::-webkit-scrollbar-thumb{
  background-color: var(--color-3);
  border-radius: 5px;
  height: 25%;
  border-radius: 0px 20px 20px 0px;
}

.steps-content > input[type = "radio"]{
  display: none;
}

.btn-voltar{
  font-weight: 500;
  background: var(--color-6) !important;
  color: var(--color-1) !important;
}

#st-1:checked ~ .current {
  margin-left: 0%;
}

#st-2:checked ~ .current {
  margin-left: -25%;
}

#st-3:checked ~ .current {
  margin-left: -50%;
}

#st-4:checked ~ .current {
  margin-left: -75%;
}

.ckecked {
  width: 100px;
  height: 100px;
  background: #28a745;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ckecked > i {
  color: var(--color-4);
  font-size: 72px;
}
