<div class="container">
  <br />
  <div class="card-header">
    <div class="logo">
      <img src="assets//iconePizzaria.png" alt="" />
    </div>
    <h1>Cadastre-se</h1>
  </div>
  <div class="card-content">
    <div class="step-group">
      <div class="steps-content">
        <input type="radio" name="st" id="st-1" checked />
        <input type="radio" name="st" id="st-2" />
        <input type="radio" name="st" id="st-3" />
        <input type="radio" name="st" id="st-4" />
        <div class="step current" [formGroup]="forms[0]">
          <!--Email-->
            <div class="card-box">
              <label for="email">Email<span>*</span></label>
              <div class="field-box">
                <i class="fa-solid fa-circle-user"></i>
                <input type="email" name="email" id="email" placeholder="Email" formControlName="email" [(ngModel)]="usuario.email"/>
              </div>
              <div class="invalid" *ngIf="getEmailElement().errors?.['required'] && (getEmailElement()?.touched || getEmailElement().dirty || isExibirAll())">
                E-mail vazio*
              </div>
              <div class="invalid" *ngIf="getEmailElement().errors?.['email'] && (getEmailElement()?.touched || getEmailElement().dirty || isExibirAll())" >
                E-mail Invalido*
              </div>
            </div>
            <!--Password-->
            <div class="card-box">
              <label for="senha">Senha<span>*</span></label>
              <div class="field-box">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="senha" id="password" placeholder="Senha" formControlName="password" [(ngModel)]="usuario.senha" />
                <i id="eye" #eyeIcon class="fa-solid fa-eye-slash" (click)="visibilidade(this.eyeIcon)" ></i>
              </div>
              <div class="invalid" *ngIf="getPasswordElement().errors?.['required'] && (getPasswordElement()?.touched || getPasswordElement().dirty || isExibirAll())">
                Senha vazia*
              </div>
              <div class="invalid" *ngIf="getPasswordElement().errors?.['minlength'] && (getPasswordElement()?.touched || getPasswordElement().dirty || isExibirAll())" >
                Senha muito curta, 6 caracteres min
              </div>
            </div>
            <!------  Confirm Password ----->
            <div class="card-box">
              <label for="senha">Confirmação de Senha<span>*</span></label>
              <div class="field-box">
                <i class="fa-solid fa-circle-check"></i>
                <input type="password" name="comfirmPassword" id="comfirmPassword" placeholder="Confirmação de Senha"  formControlName="confirmPassword" />
              </div>
              <div class="invalid" *ngIf="getConfirmPasswordElement().errors?.['required'] && (getConfirmPasswordElement()?.touched || getConfirmPasswordElement()?.dirty || isExibirAll())">
                Confirmação vazia
              </div>
              <div class="invalid" *ngIf="!isEqual() && (getConfirmPasswordElement()?.touched || getConfirmPasswordElement()?.dirty || isExibirAll())">
                Confirmação diferente de sua senha
              </div>
            </div>
          </div>
          <div class="step" [formGroup]="forms[1]">
            <div class="card-box">
              <label for="nome">Nome<span>*</span></label>
              <div class="field-box">
                <i class="fa-solid fa-signature"></i>
                <input type="text" name="nome" id="nome" placeholder="Nome" formControlName="nome" [(ngModel)]="usuario.nome"/>
              </div>
              <div class="invalid" *ngIf="getNomeElement().errors?.['required'] && (getNomeElement()?.touched || getNomeElement()?.dirty || isExibirAll())">
                Nome Vazio
              </div>
              <div class="invalid" *ngIf="getNomeElement().errors?.['minlength'] && (getNomeElement()?.touched || getNomeElement()?.dirty || isExibirAll())">
                Nome muito curta, 4 caracteres min
              </div>
            </div>
            <div class="card-box">
              <label for="nome">Contato</label>
              <div class="field-box">
                <i class="fa-solid fa-mobile-screen-button"></i>
                <input type="text" name="contact" id="telephone" placeholder="Telephone" prefix="(81)" mask=" 0 0000-0000 || 0000-0000" [showMaskTyped]="true" [(ngModel)]="usuario.contato" [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>
          </div>
          <div class="step">
            <div class="card-box">
              <label for="nameAddress">Nome do Endereço</label>
              <div class="field-box">
                <i class="fa-solid fa-house-chimney"></i>
                <input type="text" name="nameAddress" id="nameAddress" placeholder="Nome do Endereço" [(ngModel)]="endereco.nomeDoEndereco"/>
              </div>
            </div>
            <div class="card-box">
              <label for="cep">CEP</label>
              <div class="field-box">
                <i class="fa-solid fa-envelope"></i>
                <input type="text" name="cep" id="cep" placeholder="CEP" [(ngModel)]="endereco.cep"/>
              </div>
            </div>
            <div class="card-box">
              <label for="noth">Número da Residencia</label>
              <div class="field-box">
                <i class="fa-solid fa-arrow-up-1-9"></i>
                <input type="text" name="noth" id="noth" placeholder="Número da Residencia"  [(ngModel)]="endereco.numeroDaCasa"/>
              </div>
            </div>
            <div class="card-box">
              <label for="localidade">Localidade</label>
              <div class="field-box">
                <i class="fa-solid fa-mountain-sun"></i>
                <input type="text" name="localidade" id="localidade" placeholder="Localidade Ex: Ur2" [(ngModel)]="endereco.localidade"/>
              </div>
            </div>
          </div>
          <div class="step center">
            <div class="ckecked">
              <i class="fa-solid fa-check"></i>
            </div>
          </div>
        </div>
    </div>
    <a [routerLink]="['../signIn']">Já tenho uma conta, <span>Entrar</span></a>
    <button class="btn-prosseguir">Prosseguir</button>
    <button class="btn-voltar" *ngIf="count > 1 && count < 4" (click)="voltar()">Voltar</button>
  </div>
</div>
