
.container{
display: flex;
  flex-flow: column;
}

.about-header {
  margin-top: 10px;
  display: flex;
}

.side-left{
  margin: 0px 10px;
}

.side-left img{
  border-radius: 120px;
}

.data {
  align-items: center;
  display: flex;
}

.data i {
  font-size: 24px;
  color: var(--color-3);
}

.case, .carrocel-address{
  padding: 7px 14px;
  width: 95%;
  margin: auto;
  border-radius: 6px;
}

.carrocel-address{
  position: relative;
  background: var(--color-1);
}

.carrocel-header{
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carrocel-header p {
  color: var(--color-4);
}

.about-container{
  flex-grow: 1;
  flex-basis: auto;
}

.carrocel-content{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 5px;
  background: var(--color-1);
  border-radius: 6px;
  padding: 5px;
}

.cards-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.sair{
  padding: 7px 14px;
  width: 95%;
  background: var(--color-6);
  border: 0;
  margin-bottom: 5px;
  color: var(--color-4);
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 6px;
  margin: auto;
}

.card-address{
  background: var(--color-3);
  border-radius: 6px;
  padding: 5px;
  margin: 5px;
}

.title{
  display: flex;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px var(--color-1) solid;
  align-items: center;
  justify-content: space-between;
}

.carrocel-content{
  display: none;
  height: 260px;
  padding-right: 5px;
  overflow-y: scroll;
}

.carrocel-content::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}

.carrocel-content::-webkit-scrollbar-thumb{
  background: var(--color-6);
  border-radius: 6px;
}

.carrocel-address.active .carrocel-content{
  display: block;
}

.carrocel-header i{
  color: var(--color-4);
  transition: transform 0.3s linear;
}

.carrocel-address.active .carrocel-header i {
  transform: rotate(-180deg);
}

.card-address-plus{
  background: var(--color-1);
}

.card-address-plus{
  display: flex;
  align-items: center;
  background: var(--color-1);
}

.card-address-plus button {
  background: #28a745;
  padding: 7px 14px;
  border: 0;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-weight: 500;
  color: var(--color-4);
  margin-left: 5px;
}

.card-address-plus #btn-edit{
  background: var(--color-6);
}
