
.about-header {
  margin-top: 10px;
  display: flex;
}

.side-left{
  margin: 0px 10px;
}

.side-left img{
  border-radius: 120px;
}

.data {
  align-items: center;
  display: flex;
}

.data i {
  font-size: 24px;
  color: var(--color-3);
}

.case{
  padding: 7px 14px;
  width: 95%;
  margin: auto;
  box-shadow: 0px 0px 3px black,2px 2px 7px rgba( 0,0,0,0.3);
  border-radius: 6px;
}
