<div class="container">
  <div class="about-container">
    <div class="about-header">
      <div class="side-left">
        <img
          height="60px"
          width="60px"
          src="{{ socialUser.photoUrl }}"
          alt=""
        />
      </div>
      <div class="side-right">
        <h2>{{ socialUser.firstName }}</h2>
        <p>{{ socialUser.email }}</p>
      </div>
      <i class="fa-solid fa-pencil"></i>
    </div>

    <div class="case">
      <div class="data">
        <i class="fa-brands fa-whatsapp"></i>
        &nbsp;
        <p>{{ userFromPs.contato }}</p>
      </div>
    </div>

    <div #addresses class="carrocel-address" >
      <div class="carrocel-header" (click)="this.addresses.classList.toggle('active')">
        <p><strong>Meus Endereços</strong></p>
        <i class="fa-solid fa-caret-up"></i>
      </div>
      <div class="carrocel-content">
        <div class="cards-wrapper">
          <div class="card-address card-address-plus">
            <i class="fa-solid fa-plus"></i>
          </div>
          <div class="card-address" *ngFor="let a of userFromPs.enderecos">
            <div class="title">
              <p><strong> {{ a.nomeDoEndereco }} </strong> </p>
              <i class="fa-solid fa-pencil"></i>
            </div>
            <p>{{ a.cep }}</p>
            <p>{{ a.numeroDaCasa }}</p>
            <p>{{ a.localidade }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    style="
      height: 39px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
    "
  >
    <button class="sair" (click)="sair()">Sair da conta</button>
  </div>
</div>
