<app-modal [title]="'Selecionar Endereço'" *ngIf="addressModalActive" [fadeExpandComp]="true" (closeModalEvent)="addressModalActive = false">
  <div class="modal-content">
    <button class="btn-register-address" (click)="addressRegisterModal = true">
      Quero Registar Um Novo Endereço
    </button>
    <div class="address_empty" *ngIf="getAddress().length <= 0">
      Nenhum endereço encontrado
    </div>
  </div>
</app-modal>

<app-modal [title]="'Registrar Endereço'" *ngIf="addressRegisterModal" [fadeExpandComp]="true" (closeModalEvent)="addressRegisterModal = false">
  <div class="modal-content">
    <button class="btn-locality-auto" style="margin-top: 10px;">
      Pegar Localização Automaticamente
    </button>
    <div class="filds">
      <div class="filds first" [formGroup]="addressForm">
        <div class="box">
          <div class="box-fild">
            <input type="text" id="addressName" #nameInput required formControlName="nameAddress" [ngClass]="{'input-invalid': isValidControlForm(addressForm,'nameAddress')}">
            <label for="addressName">Nome da Rua</label>
            <!-- <app-auto-concluit #autName [inputElement]="nameInput" [autoValues]="[]"></app-auto-concluit> -->
          </div>
          <div class="invalid">
            <div *ngIf="addressForm.get('nameAddress')?.errors?.['required'] && getInteractionForm(addressForm,'nameAddress')">
              O campo é obrigatorio.
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-fild">
            <input type="text" id="idProduct" #idInput required formControlName="houseNumber" [ngClass]="{'input-invalid': isValidControlForm(addressForm,'houseNumber')}" >
            <label for="idProduct">numero da residencia</label>
            <!-- <app-auto-concluit #autId [inputElement]="idInput" [autoValues]="[]"></app-auto-concluit> -->
          </div>
          <div class="invalid">
            <div *ngIf="addressForm.get('houseNumber')?.errors?.['required'] && getInteractionForm(addressForm,'houseNumber')">
              O campo é obrigatorio.
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-fild">
            <input type="text" id="categoriProduct" #categoryInput required formControlName="zipCode" [ngClass]="{'input-invalid': isValidControlForm(addressForm,'zipCode')}">
            <label for="categoriProduct">Cep(Opcional)</label>
            <!-- <app-auto-concluit #autCate [inputElement]="categoryInput" [autoValues]="[]"></app-auto-concluit> -->
          </div>
          <div class="invalid">
            <div *ngIf="addressForm.get('zipCode')?.errors?.['required'] && getInteractionForm(addressForm,'zipCode')">
              O campo é obrigatorio.
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-fild">
            <!-- <input type="text" id="priceProduct" required formControlName="price" [ngClass]="{'input-invalid': isValidControlForm(addressForm,'price')}" mask="separator.2" thousandSeparator="." prefix="R$ ">
            <label for="categoriProduct">Localidade</label> -->
            <app-dropdown [title]="'Localidade'">
              <div class="wrapper-body" style="z-index: 7; flex-grow: 1;max-height: 200px;overflow-y: auto;">
                <ul>
                  <li (click)="{}" *ngFor="let locality of getLocalidades();let i = index">{{locality.localidade}} {{locality.preco | currency : 'BRL' : 'symbol-narrow'}}</li>
                </ul>
              </div>
            </app-dropdown>
          </div>
          <div class="invalid">
            <div *ngIf="addressForm.get('price')?.errors?.['required'] && getInteractionForm(addressForm,'price')">
              O campo é obrigatorio.
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-fild">
            <textarea type="text" class="box-textarea" cols="30" rows="10" placeholder="Descrição de de seu endereço com ponto de referencia..." id="quantProduct" required formControlName="description" [ngClass]="{'input-invalid': isValidControlForm(addressForm,'description')}"></textarea>
          </div>
          <div class="invalid">
            <!-- <div *ngIf="addressForm.get('description')?.errors?.['required'] && getInteractionForm(addressForm,'description')">
              O campo é obrigatorio.
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="finallity">
      <button class="btn_finalizar">Adicionar endereço</button>
    </div>
  </div>
</app-modal>

