
.container{
  overflow: hidden;
  width: 100%;
  padding: 0px;
  height: 100%;
  flex-grow: 1;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-family: 'Avenir Bold', sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.box-fild input, .box-fild textarea, .box-textarea{
  width: 100%;
  /*border: 2px  var(--color-9) solid;*/
  border-radius: 7px;
  outline: none;
  padding: 10px 15px;
  background: var(--color-4);
  font-family: 'Avenir Bold', 'Poppins', sans-serif;
  transition: 0.2s;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(61, 59, 53, 0.16) 0px 0px 0px 1px, rgba(61, 59, 53, 0.08) 0px 2px 5px 0px;
  /*box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 3px rgba(0, 0, 0, 0.25);*/
  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  &:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }
}

.box-fild label, .box-fild span{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: 0.2s;
  background: var(--color-4);
  padding: 0px 5px;
  opacity: 0.8;
}

.box-fild:has(textarea) label{
  top: 0%;
}

.filds {
  width: 100%;
}

.box-fild{
  position:relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filds{
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.box-fild input:hover ~ label,
.box-fild input:focus ~ label,
.box-fild input:valid ~ label
{
  font-size: 14px;
  top: 0;
  opacity: 1;
}

/*.box-fild input:-webkit-autofill,
.box-fild input:-webkit-autofill:focus {
  background: var(--color-4) !important;
}*/

.act-tools{
  margin: 15px 0px;
  width: 100%;
  display:  flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.act-tools span {
  color: var(--color-10);
}

.btn-login, .btn-prosseguir, .btn-voltar{
  width: 100%;
  padding: 10px 15px;
  background: var(--color-1);
  color: var(--color-4);
  text-transform: uppercase;
  font-family: 'Avenir Bold', sans-serif;
  letter-spacing: 1.25px;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  border: 0px;
  transition: box-shadow 0.3s;

  &:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }
}

.relembrar input[type = "checkbox"]{
  margin-right: 5px;
}

.box-fild span{
  opacity: 1;
  left: auto;
  right: 15px;
}

.box-fild span i{
  color: var(--color-1);
}

.btn-voltar{
  background: var(--color-10);
}

.invalid{
  color: var(--color-6);
  font-size: 14px;
  margin-top: 2px;
}

.input-invalid{
  border-color: var(--color-6) ;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px rgb(253, 155, 138) !important;
}


