<div class="container">
  <div class="card-header">
    <div class="logo">
      <img src="assets//iconePizzaria.png" alt="">
    </div>
    <h1>Conecte-se</h1>
  </div>
  <div class="card-content">
    <div class="card-box">
      <label for="email">Email*</label>
      <div class="field-box">
        <i class="fa-solid fa-circle-user"></i>
        <input type="email" name="email" id="email">
      </div>
      <p></p>
    </div>
    <div class="card-box">
      <label for="senha">Senha*</label>
      <div class="field-box">
        <i class="fa-solid fa-lock"></i>
        <input type="password" name="senha" id="senha">
      </div>
      <p></p>
    </div>
    <a [routerLink]="['../signUp']">Não tenho conta, <span>Me Registrar</span></a>
    <button>Entrar</button>
  </div>
</div>

