<div id="fade"></div>
<div id="modal" #modal>
  <div class="modal-header">
    <p style="color: var(--color-4); margin-left: 10px">Meu Pedido</p>
    <div class="close">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
  <div class="step-group">
    <div class="step-content">
      <div class="p-fade" #pFade></div>
      <input type="radio" name="st" id="st-1" />
      <input type="radio" name="st" id="st-2" />
      <input type="radio" name="st" id="st-3" />
      <input type="radio" name="st" id="st-4" />
      <div class="step current">
        <div class="seach-field">
          <input type="text" [placeholder]="randomNameproduct"
            id="seach" #seach (keyup)="seachProduct(this.seach)" />
          <span class="seach-icon">
            <i class="fa-solid fa-magnifying-glass" #icon></i>
          </span>
        </div>
        <div class="categorys" [hidden]="!viewCategory">
          <div class="category" #ctPizza>
            <div class="category-header" (click)="categoryActive(this.ctPizza)">
              <span>Pizzas</span>
              <span class="expand">
                <i class="fa-solid fa-caret-up"></i>
              </span>
            </div>
            <div class="category-wrapper">
              <div class="produtos">
                <app-produto [produtos]="getCategory('Pizza')"
                (fade)="fadeToggle(this.pFade)"
                (adicionar)="adicionarProduto($event)"></app-produto>
              </div>
            </div>
          </div>
          <div class="category" #ctRefri>
            <div class="category-header" (click)="categoryActive(this.ctRefri)">
              <span>Refrigerantes</span>
              <span class="expand">
                <i class="fa-solid fa-caret-up"></i>
              </span>
            </div>
            <div class="category-wrapper">
              <div class="produtos">
                <app-produto [produtos]="getCategory('Refrigerate')"
                (fade)="fadeToggle(this.pFade)"
                (adicionar)="adicionarProduto($event)"></app-produto>
              </div>
            </div>
          </div>
        </div>
        <div #prod [hidden]="viewCategory">
          <div class="produtos">
            <app-produto [produtos]="produtos"
                (fade)="fadeToggle(this.pFade)"
                (adicionar)="adicionarProduto($event)"></app-produto>
          </div>
        </div>
      </div>
      <div class="step">
        <div class="step-prod-header">
          <h1>
            SubTotal <span uiMoneyMask>{{ getSubTotal() | currency : "BRL" : 'symbol-narrow' : "1.2-2" }}</span>
          </h1>
        </div>
        <div
          class="cart-empty"
          *ngIf="pedido.produtos.length === 0; else produts"
        >
          <i class="fa-solid fa-cart-shopping"></i>
          <h2>Carrinho Vazio😥</h2>
        </div>
        <ng-template #produts>
          <div class="produtos">
            <app-produto [quantidades]="pedido.produtos"
            [countView]="true"
                (fade)="fadeToggle(this.pFade)"
                (remover)="removerProduto($event)" ></app-produto>
          </div>
        </ng-template>
      </div>
      <div class="step">
        <div class="step-prod-header obs" style="margin-bottom: 10px">
          <h2>Observação</h2>
        </div>
        <div class="obs">
          <textarea
            cols="30"
            rows="10"
            [maxLength]="150"
            [(ngModel)]="pedido.descricao"
            placeholder="Adicione uma observação ao seu pedido."
            #obs
            (keyup)="setMaxValue(this.obs)"
          ></textarea>
          <p style="float: right">{{ max }}</p>
        </div>
      </div>
      <div class="step">
        <div class="step-prod-header obs" style="margin-bottom: 10px">
          <h2>
            Total <span uiMoneyMask>{{ getTotal() | currency : "BRL" : 'symbol-narrow' : "1.2-2" }}</span>
          </h2>
          <p *ngIf="enderecoAtual != undefined">
            <span uiMoneyMask>{{ getTaxa() | currency : "BRL" : 'symbol-narrow' : "1.2-2" }}</span>
            Taxa de etrega.</p>
        </div>
        <p>Adicione as informaçoes de pagamento e endereço ao seu pedido.</p>
        <div class="box">
          <div class="wrapper">
            <div class="select-btn">
              <span id="formPay">{{getFormPay()}}</span>
              <i class="fa-solid fa-sort-up"></i>
            </div>
            <div style="z-index: 3" class="select-content">
              <ul class="options">
                <li (click)="definirTipoDePagameto('Dinheiro')">
                  <i class="fa-solid fa-sack-dollar"></i>Dinheiro
                </li>
                <li (click)="definirTipoDePagameto('Cartão')">
                  <i class="fa-solid fa-credit-card"></i>Cartão
                </li>
                <li (click)="definirTipoDePagameto('Pix')">
                  <i class="fa-solid fa-right-left"></i>Pix
                </li>
              </ul>
            </div>
          </div>
          <div class="black-box" *ngIf="moneyPay()">
            <div class="din-box">
              <p>Troco para</p>
              <input
                type="text"
                placeholder="R$ 00,00"
                prefix="R$"
                mask="00,00||000,00"
                [showMaskTyped]="true"
                [(ngModel)]="pedido.troco"
              />
            </div>
          </div>
        </div>
        <div class="box">
          <div class="wrapper">
            <div class="select-btn">
              <span id="formOfDispatch">Forma de despache</span>
              <i class="fa-solid fa-sort-up"></i>
            </div>
            <div style="z-index: 2" class="select-content">
              <ul class="options">
                <li (click)="mudarEndereco()">
                  <i class="fa-solid fa-shop" ></i>Local
                </li>
                <li><i class="fa-solid fa-house-chimney"></i>Meu endereço</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="black-box center" *ngIf="!isEnderecoDefinido() && despache()">
          <p class="box-address-title" *ngIf="enderecos.length > 0">Selecione um dos seus endereços</p>
          <div class="carrocel-address" *ngIf="enderecos.length > 0">
            <div class="sliders-address" [style]="'width:' + getAddressWidth() + 'px'" >
              <div class="slider" *ngFor="let a of enderecos!; let ie = index" (click)="definirEndereco(a.id)">
                <div class="title">
                  <p>{{ a.nomeDoEndereco }}</p>
                </div>
                <p>{{ a.cep }}</p>
                <p>{{ a.numeroDaCasa }}</p>
                <p>{{ a.localidade }}</p>
              </div>
            </div>
          </div>
          <button class="btn-green" [hidden]="enderecos.length > 0" style="margin: auto;">Adicionar Endereço</button>
        </div>
        <div
          style="padding-left: 10px"
          class="black-box"
          *ngIf="isEnderecoDefinido() && despache()"
        >
          <div class="box-mudar-address">
            <div class="address-defined">
              <p>{{ enderecoAtual.nomeDoEndereco }}</p>
            </div>
            <button class="btn-red" (click)="mudarEndereco()">Mudar</button>
          </div>
        </div>
        <div class="box buttons">
          <button class="btn-green" [disabled]="!(pedido!.produtos.length > 0)" (click)="criarPedido()">
            <span  *ngIf="pedido.id === 0; else smp">
              Fazer Meu Pedido
            </span>
            <ng-template #smp>
              Salvar Meu Pedido
            </ng-template>
          </button>
          <button class="btn-red"  *ngIf="pedido.id !== 0" (click)="removerPedido()" >
            Remover Meu Pedido
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="step-navgation">
    <ul>
      <li class="list active">
        <label for="st-1">
          <span class="icon"><i class="fa-solid fa-list"></i></span>
          <span class="text">Produtos</span>
        </label>
      </li>
      <li class="list">
        <label for="st-2">
          <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
          <span class="text">Carrinho</span>
        </label>
      </li>
      <li class="list">
        <label for="st-3">
          <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
          <span class="text">Observação</span>
        </label>
      </li>
      <li class="list">
        <label for="st-4">
          <span class="icon"><i class="fa-solid fa-check"></i></span>
          <span class="text">Checagem</span>
        </label>
      </li>
    </ul>
  </div>
</div>


