*:not(i) {
  font-family: "Poppins", sans-serif;
}

.showcase{
  width: 100%;
}

.showcase-content{
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.showcase-content img {
  height: 200px;
}

.side-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-left h1 {
  font-size: 38px;
  color: var(--color-1);
  -webkit-text-stroke: 1px var(--color-1);
}

.side-left h1 span{
  font-size: 32px;
  color: var(--color-3);
}

.side-left a{
  color: var(--color-1);
  text-transform: uppercase;
  background: var(--color-3);
  border-radius: 20px;
  font-size: 12px;
  padding: 7px 14px;
  text-decoration: none;
  margin-top: 10px;
  font-weight: 500;
}

.side-bottom{
  height: 100%;
  background: var(--color-1);
}
