*:not(i) {
  font-family: "Poppins", sans-serif;
}

.showcase{
  width: 100%;
}

.showcase-content{
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.showcase-content img {
  max-width: 200px;
}

.side-left h1{
  font-family: 'Avenir Bold';
  text-transform: uppercase;
  color: var(--color-4);
  -webkit-text-stroke: 1px var(--color-1);
}

.side-left a{
  color: white;
  background: var(--color-3);
  border-radius: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 14px;
}

.side-left h1 span{
  color: var(--color-3);
}

.side-bottom{
  height: 100%;
  background: var(--color-1);
}
