.show-cart-controll {
  width: 95%;
  margin: auto;
  background: var(--color-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  border-radius: 10px;
  padding: 20px 15px;
}

.show-cart-controll h1 {
  color: var(--color-4);
  text-align: center;
}

.show-cart-controll .btn-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 32px;
  height: 32px;
  border-radius: 200px;
  background: var(--color-3);
}

.desatived {
  display: none;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 600px;
  background: green;
  max-width: 90%;
  max-height: 90%;
  background: var(--color-4);
  border-radius: 15px;
  animation: reactive 0.2s linear;
  overflow-x: hidden;
}

@keyframes reactive {
  0% {
    opacity: 0;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.01,1.01);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1,1);
  }
}

#modal .modal-header {
  width: 100%;
  height: 45px;
  align-items: center;
  margin: auto;
  display: flex;
  background: var(--color-1);
  justify-content: space-between;
}

#modal .modal-header h2{
  font-family: 'Avenir Bold';
  color: var(--color-4);
}

#modal .modal-header .close {
  background: var(--color-6);
  border-radius: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 5px 5px 5px 5px;
}

.step-group {
  width: 100%;
  height: calc(100% - 45px);
  overflow-x: hidden;
  position: relative;
}

.step-content {
  display: flex;
  width: 400%;
}

.step-content input[name="st"] {
  display: none;
}

.step {
  transition: 0.2s;
  width: 25%;
}

#st-1:checked ~ .current {
  margin-left: 0;
}

#st-2:checked ~ .current {
  margin-left: -25%;
}

#st-3:checked ~ .current {
  margin-left: -50%;
}

#st-4:checked ~ .current {
  margin-left: -75%;
}


.step-control{
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--color-1);
  justify-content: center;
  width: 100%;
}

.step-control ul {
  justify-content: space-between;
  position: relative;
  display: flex;
  width: 87.7%;
  margin: auto;
}

.step-control ul li{
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.step-control ul li label{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.step-control ul li label .icon{
  position: relative;
  display: block;
  font-size: 1.5em;
  line-height: 75px;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.5);
}

.step-control ul li.active label .icon{
  transform: translate(-8px);
  color: var(--color-3);
}

.step-control ul li label .text{
  position: absolute;
  opacity: 0;
  font-weight: 600;
  font-size: 0.5em;
  color: var(--color-4);
  transition: 0.5s;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  transform: translateY(0px);
}

.step-control ul li.active label .text{
  transform: translateY(13px);
  opacity: 1;
}
