<div class="container">
  <div class="show-cart-controll">
    <div class="hidden" style="width: 30px"></div>
    <h1>Meus pedidos</h1>
    <div class="btn-add">
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>
  <div class="pedidos">
    <div class="pedido" *ngFor="let pedid of pedidos" (click)="editPedido(pedid.id)">
      <h1>{{ pedid.id }}</h1>
    </div>
  </div>
</div>
<app-modal-cart *ngIf="viewModal" (close)="closeModal()" [todosProdutos]="todosProdutos" [pedido]="pedido" [pedidos]="pedidos"></app-modal-cart>
