*:not(i){
  font-family: 'Poppins', sans-serif;
}

.show-cart-controll {
  width: 95%;
  margin: auto;
  background: var(--color-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  border-radius: 10px;
  padding: 20px 15px;
}

.show-cart-controll h1 {
  color: var(--color-4);
  text-align: center;
}

.show-cart-controll .btn-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 32px;
  height: 32px;
  border-radius: 200px;
  background: var(--color-3);
}

.desatived {
  display: none !important;
}

#fade, .p-fade{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

#modal {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  max-width: 100%;
  max-height: 100%;
  background: var(--color-4);
  animation: reactive 0.2s linear;
  overflow-x: hidden;
  border-radius: 20px;
}

@keyframes reactive {
  0% {
    opacity: 0;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.01, 1.01);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1, 1);
  }
}

#modal .modal-header{
  width: 100%;
  height: 55px;
  align-items: center;
  margin: auto;
  display: flex;
  padding: 10px;
  border-bottom: 1px var(--color-1) solid;
  box-shadow: 2px 7px 30px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  background: var(--color-1);
  justify-content: space-between;
}

#modal .modal-header .close, .modal-p .close{
  background: var(--color-6);
  border-radius: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 5px 5px 5px 5px;
}

.modal-p{
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.step-group{
  flex-grow: 1;
  flex-basis: auto;
  overflow: hidden;
}

.step-content{
  width: 400%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
}

.step-content input[name="st"] {
  display: none;
}

.step {
  position: relative;
  transition: 0.2s;
  width: 25%;
  overflow-y: scroll;
  padding: 0px 5px 0px 10px;
  position: relative;
}

.step::-webkit-scrollbar{
  width: 5px;
}

.step::-webkit-scrollbar-thumb{
  background: var(--color-3);
}

#st-1:checked ~ .current {
  margin-left: 0;
}

#st-2:checked ~ .current {
  margin-left: -25%;
}

#st-3:checked ~ .current {
  margin-left: -50%;
}

#st-4:checked ~ .current {
  margin-left: -75%;
}

.seach-field{
  display: flex;
  position: relative;

}

.seach-field input {
  flex-grow: 1;
  outline: none;
  border: 0;
  font-size: 14px;
  padding: 13px 14px;
  border: 1px var(--color-9) solid;
  border-radius: 100px;
}

.seach-field span{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-1);
  padding: 10px;
  border-radius: 32px;
  top: 50%;
  right: 5.5px;
  transform: translateY(-50%);
}

.seach-field i {
  font-size: 18px;
  color: var(--color-4);
}

.obs textarea{
  width: 100%;
  height: 150px;
  padding: 5px;
  border-radius: 6px;
  background: var(--color-1);
  color: var(--color-4);
  resize: none;
}

.step-navgation {
  display: flex;
  background: var(--color-1);
  justify-content: center;
  width: 100%;
  height: 70px;
}

.step-navgation ul {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.step-navgation ul li {
  list-style: none;
  width: 70px;
  height: 70px;
  position: relative;
  z-index: 1;
}

.step-navgation ul li label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.step-navgation ul li label .icon {
  position: relative;
  display: block;
  font-size: 1.5em;
  line-height: 75px;
  transition: 0.05s;
  color: rgba(255, 255, 255, 0.5);
}

.step-navgation ul li.active label .icon {
  transform: translateY(-8px);
  color: var(--color-3);
}

.step-navgation ul li label .text {
  position: absolute;
  font-weight: 600;
  font-size: 0.5em;
  opacity: 0;
  color: var(--color-3);
  transition: 0.5s;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transform: translateY(0px);
}

.step-navgation ul li.active label .text {
  opacity: 1;
  transform: translateY(13px);
}

.wrapper {
  margin-top: 5px;
  width: 100%;
  position: relative;
}

.select-btn {
  background: var(--color-1);
  height: 35px;
  padding: 0px 12px;
  border-radius: 7px;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.select-btn span {
  color: var(--color-4);
}

.select-content, .select-content-address {
  display: none;
  position: absolute;
  padding:10px;
  background: var(--color-1);
  margin-top: 5px;
  width: 100%;
  border-radius: 7px;
}

.wrapper.active .select-content {
  display: block;
}

.select-content > i {
  align-items: center;
}

.wrapper .options li {
  height: 32px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  list-style: none;
  color: var(--color-4);
}

.select-content-address .options li{
  color: var(--color-1);
}

.options li i {
  margin: 0px 5px;
}

.select-btn i {
  color: var(--color-4);
  transition: transform 0.3s linear;
}

.wrapper.active .select-btn i {
  transform: rotate(-180deg);
}

.options li:hover {
  background: var(--color-3);
}

.black-box, .green-box{
  margin-top: 5px;
  background: var(--color-1);
  padding: 5px;
  border-radius: 6px;
}

.green-box{
  background: #28a745;
}

.black-box p {
  color: var(--color-4);
}

.box{
  margin-top: 15px;
  background: transparent;
}

.box p {
  color: var(--color-1);
}

.din-box {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.din-box p {
  margin-bottom: 5px;
  color: var(--color-3);
}

.din-box input {
  outline: none;
  padding: 7px 15px;
  border-radius: 7px;
  border: 1px var(--color-9) solid;
}

.address-content{
  width: 600px;
  display: flex;
}

.box-mudar-address{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.address-defined p{
  color: var(--color-4);
}

.btn-green, .btn-red {
  background: #28a745;
  border: #28a745;
  padding: 7px 15px;
  color: var(--color-4);
  text-transform: uppercase;
  border-radius: 7px;
  margin: auto;
}

.btn-red {
  background: var(--color-6);
  border: var(--color-6);
  color: var(--color-4);
  margin: 0px;
}

@media screen and (max-width: 420px) {
  #modal, .modal-p{
    height: 100%;
    width: 100%;
    border-radius: 0px;
  }
}


.carrocel-address{
  border-radius: 6px;
  width: 100%;
  padding: 0px 0px 5px 0px;
  overflow-x: scroll;
}

.carrocel-address::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}

.carrocel-address::-webkit-scrollbar-thumb{
  background: var(--color-6);
  border-radius: 6px;
}

.sliders-address{
  width: 400%;
  display: flex;
}

.slider{
  width: 200px;
  border-radius: 6px;
  background: var(--color-3);
  margin-left: 5px;
  padding: 4px;
}

.slider p {
  color: var(--color-1);
}

.title{
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom:  1px var(--color-1)  solid;
}

.produtos{
  display: flex;
  flex-direction: column;
}

.categorys{
  margin-top: 10px;
}

.categorys h2{
  text-align: center;
}

.categorys .category:nth-child(3) .category-header{
  background: var(--color-12);
}

.category{
  margin-top: 10px;
  border-radius: 7px;
  position: relative;
}

.category-header{
  align-items: center;
  display: flex;
  background: var(--color-1);
  padding: 7px 14px;
  border-radius: 7px;
  justify-content: space-between;
}

.category-wrapper{
  overflow: hidden;
  transition: max-height 1s;
  height: 0px;
}

.category.active .category-wrapper{
  height: auto;
}

.category .category-header .expand i{
transition: transform 0.3s linear;
}

.category.active .category-header .expand i{

  transform: rotate(-180deg);
}

.category-header span {
  color: var(--color-4);
}

.produto{
  margin-top: 10px;
  position: relative;
  width: 100%;
  background: var(--color-1);
  border-radius: 6px;
  padding: 2px;
  display: flex;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
}

.produto h3, .produto p {
  position: relative;
  color: var(--color-4);
  font-weight: 500;
  z-index: 5;
}

.produto::before{
  position: absolute;
  border-radius: 6px 0px 0px 6px;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  content: '';
  z-index: 3;
  clip-path: polygon(0 0, 92% 0, 61% 100%, 0% 100%);
  background: var(--color-3);
}

.produto-logo{
  width: 25%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produto-logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
  z-index: 5;
}

.produto .side-right .add-btn {
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 100%;
  background: var(--color-6);
}

.produto .side-right .add-btn i {
  justify-content: center;
  align-items: center;
  color: var(--color-4);
}

.produto .side-right .quat i {
  color: var(--color-4);
}

.produto-description p {
  font-size: 13px;
}

.modal-p{
  max-width: 500px;
  width: 95%;
  height: auto;
  position: absolute;
  border-radius: 7px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: reactive 0.2s linear;
  background: var(--color-1);
  padding: 5px;
}

.modal-p img{
  width: 100%;
}

.modal-p .modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.modal-content .modal-case{
  color: var(--color-4);
}

.modal-content .modal-case.preco{
  color: var(--color-3);
}

.quant .side-left{
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}

.quant{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.quant .side-right button{
  padding: 7px 14px;
  color: var(--color-4);
  border-radius: 7px;
  border: 0;
  background: var(--color-12);
}
