<header>
  <nav>
    <div class="logo">
      <img src="assets//iconePizzaria.png" alt="icone da pizzaria" />
    </div>
    <h1 class="title-page">{{ title }}</h1>
    <div class="menu-burguer" (click)="merge()">
      <div class="line-1"></div>
      <div class="line-2"></div>
      <div class="line-3"></div>
    </div>
    <ul id="menu" class="menu-items">
      <h1>Menu</h1>
      <li>
        <div class="li-nav">
          <a [routerLink]="['home']">
            <i class="fa-solid fa-house"></i>
            Casa</a>
        </div>
      </li>
      <li>
        <div class="li-nav">
          <a [routerLink]="['cart']">
            <i class="fa-solid fa-cart-shopping"></i>
            Carrinho</a>
        </div>
      </li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
