<header>
  <nav>
    <div class="logo">
      <img src="assets//iconePizzaria.png" alt="icone da pizzaria" />
    </div>
    <h1 class="title-page">{{ title }}</h1>
    <div class="menu-burguer" (click)="merge()">
      <div class="line-1"></div>
      <div class="line-2"></div>
      <div class="line-3"></div>
    </div>
    <ul id="menu" class="menu-items">
      <li class="actived">
        <div class="li-nav" [routerLink]="['home']">
            <p><i class="fa-solid fa-house"></i>Casa</p>
        </div>
      </li>
      <li>
        <div class="li-nav" [routerLink]="['cart']">
            <p><i class="fa-solid fa-cart-shopping"></i>Carrinho</p>
        </div>
      </li>
      <li>
        <div class="li-nav" [routerLink]="['about']">
            <p><i class="fa-solid fa-user"></i>Sobre</p>
        </div>
      </li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
