.container {
  background: linear-gradient(45deg, var(--color-1), var(--color-2));
  display: flex;
}

.side-left,
.side-right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.side-right{
  background: var(--color-4);
}

.side-left #img_1 {
  height: 15%;
  object-fit: cover;
}

.side-left #img_2 {
  height: 60%;
  height: 60%;
  object-fit: cover;
}

.card {
  width: 90%;
  height: 100%;
  display: flex;
  flex-flow: column;
  background: var(--color-4);
  overflow-y: scroll;
}

.card-content{
  flex-grow: 1;
  flex-basis: auto;
}

.line{
  position: relative;
  margin: 15px 0px;
  height: 1px;
  background: var(--color-9) ;
  padding: 1px 0px 0px 0px;
}

.line::after{
  content: 'Ou';
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  background: var(--color-4);
  padding: 2px 15px;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 400px){
  .side-left{
    display: none;
  }

  .side-right{
    width: 100vw;
  }
}
