<div class="container">
  <div class="darken" *ngIf="getViewDarken()">
  </div>
  <div class="side-left">
    <img src="assets//pizzaria text.png" alt="texto pizzaria" id="img_1" />
    <img src="assets//Pizza maker-bro.svg" alt="pizzaiolo" id="img_2" />
  </div>
  <div class="side-right">
    <div class="card">
      <br />
      <div class="card-header">
        <div class="logo">
          <img src="assets//iconePizzaria.png" alt="" />
        </div>
        <!--<h1>Bem-vindo a</h1>
        <h1>Pizzaria Sapucaian's</h1> -->
      </div>
      <div class="card-content">
        <router-outlet></router-outlet>
        <div class="or-select">
          <div class="or"></div>
          <button type="button" class="login-with-facebook-btn"  (click)="signInWithFB()">
            <img src="assets//facebook_logo.png" height="18px" width="18px"/>
            Login com Facebook
          </button>
          <button type="button" class="login-with-google-btn" (click)="loginGoogle()"  >
            Login com Google
          </button>
        </div>
        <span *ngIf="entrar" >Não tenho conta, <a (click)="entrar = false" [routerLink]="['./sign-up']">Me Registrar!</a></span>
        <span *ngIf="!entrar" >Já tenho conta, <a (click)="entrar = true" [routerLink]="['./sign-in']">Entrar</a></span>
      </div>
    </div>
  </div>
</div>
