.container {
  background: linear-gradient(45deg, var(--color-1), var(--color-2));
  display: flex;
}

.side-left,
.side-right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.side-right{
  background: var(--color-4);
}

.side-left #img_1 {
  height: 15%;
  object-fit: cover;
}

.side-left #img_2 {
  height: 60%;
  height: 60%;
  object-fit: cover;
}

.card {
  width: 90%;
  height: 100%;
  background: var(--color-4);
  overflow-y: scroll;
}

@media screen and (max-width: 400px){
  .side-left{
    display: none;
  }

  .side-right{
    width: 100vw;
  }
}
