
*:not(i){
  font-family: 'Poppins', sans-serif;
}

.container {
  background: linear-gradient(45deg, var(--color-1), var(--color-2));
  display: flex;
}

.side-left,
.side-right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.side-right{
  background: var(--color-4);
}

.side-left #img_1 {
  height: auto;
  width: 60%;
  object-fit: cover;
}

.side-left #img_2 {
  height: 60%;
  height: 60%;
  object-fit: cover;
}

.card {
  width: 90%;
  height: 100%;
  display: flex;
  flex-flow: column;
  background: var(--color-4);
  overflow-y: scroll;
}

.card::-webkit-scrollbar{
  display: none;
}

.card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
  flex-basis: auto;
}

.line{
  position: relative;
  margin: 15px 0px;
  height: 1px;
  background: var(--color-9) ;
  padding: 1px 0px 0px 0px;
}

.line::after{
  content: 'Ou';
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  background: var(--color-4);
  padding: 2px 15px;
  font-family: 'Poppins', sans-serif;
}

.logo{
  width: 70px;
  height: 70px;
}

.logo img{
  width: 100%;
  height: 100%;
}

.card-header, .login-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-header  h1{
  font-family: 'Avvenir Bold', sans-serif;
  align-items: center;
}

.login-content > p{
  font-size: 14px;
}

@media screen and (max-width: 414px){
  .side-left{
    display: none;
  }

  .side-right{
    width: 100vw;
  }
}

.fb-login {
  width: 320px;
  background-color: #1777F2;
  padding: 0.5rem 0.01rem;
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 1rem;
  cursor: pointer;
  align-items: center;
}

.fb-login-logo {
  height: 1rem;
  padding-left: 1rem;
  vertical-align: middle;
}

.box{
  margin-bottom: 10px;
}

.fb-inner {
  text-align: center;
  margin: auto;
  vertical-align: middle;
}
